@font-face {
    font-family: GameFont;
    src: url("NeoDunggeunmoPro-Regular.ttf");
    image-rendering: pixelated;
    font-smooth: none 0px !important;
}
CANVAS{
  image-rendering: pixelated;
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}